/* GLOBAL */


html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 1080px;
  width: 1920px;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #d4d4d4;
  color: #222;
}

.main{
  background-color: #d0cece;
}

/* CONTAINER */
/* .container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
} */


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* animation of hamburger menue */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  margin-right: 20px;
}
.line {
  fill: none;
  stroke: #e3e3e3;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* toggler function style for side bar menue */

.close__toggle{
  display: none;
}

#close_toggle{
  display: none;
}

/* Downtown css */

/* Header section  */
.header-main {
  width: 100%;
  height: 157px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #d0cece;
}

.downtown_image{
  margin-left: 20px;
  padding-top: 15px;
}

.nav-contact__page {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}


.nav-contact__page-author{
  display: flex;
  align-items: center;
  width: 350px;
  display: flex;
}

.nav-contact__page-author img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.nav-contact__page-author span{
  font-size: 18px;
  font-weight: 200;
  line-height: 1px;
  font-family: sans-serif;
  color: #e3e3e3;
  margin-left: 20px;
}


/* main section this section contains all parts of practice */
.main-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
}
  

.main-sidebar {
  width: 23%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #d0cece;
  border-top: none;
  border-bottom: none;
  border-left: none;
}



.main-sidebar__activities {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

.image_sidebar{
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.image_sidebar span{
  font-size: 18px;
  font-weight: 600;
  color: #d0cece;
}


.main-sidebar__practice {
  width: 100%;
  max-width: 300px;
  /* height: 50vh; */
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.main-sidebar__practice, .main-sidebar__statistic span{
  font-size: 12px;
  color: #d0cece;
}

.main-sidebar__statistic {
  width: 100%;
  max-width: 300px;
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 7px;
}

.main-sidebar a{
  text-decoration: none;
}

.main-sidebar h4{
  font-size: 26px;
  color: #d0cece;
  font-weight: 300;
}

.sidebar-2_menu a{
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
  color: #e3e3e3;
}

.sidebar-1 p{
  font-size: 22px;
  font-weight: 300;
}

.sidebar-2 img{
  width: 50px;
}

.statistics_name{
  font-size: 26px;
  font-weight: 700;
  color: #7f7f7f;
}

.sidebar-2_menu{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-2_menu li{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.registration{
  text-align: center;
}

.registration span{
  font-size: 18px;
  font-weight: 600;
  color: #e3e3e3;
  margin-right: -20px;
  cursor: pointer;
}

/* IELTS sections styles */
.main-ielts__section {
  width: 1473px;
  height: 870px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.test-area {
  width: 100%;
  max-width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d0cece;
  background-color: #ffffff;
}

.card{
  width: 100%;
  max-width: 900px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 20px;
  border: 2px solid #d4d4d4;
  margin: 10px;
  cursor: pointer;
  /* background-color: red; */
}


/* IELTS section style  */

/* Listening section */


.btn{
  display: flex;
  align-items: center;
  width: 250px;
  height: 100%;
  text-indent: 10px;
  /* margin: 0 auto; */
  background-color: #ffffff;
  border: none;
  overflow: hidden;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  color: #7f7f7f;
  font-family: sans-serif;
  transition: transform 0.5s ease;
}

.btn_clicked{
  border: 2px solid #7f7f7f;
  border-radius: 20px;
  background-color: #7f7f7f;
  color: #ffffff;
  /* margin: 0 auto; */
  transform: translateX(-125%);
  transition: transform 0.5s ease;
}

.test_area{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  padding-right: 20px;
  /* transition: 1s ease; */
}

/* listening */
.listening{
  opacity: 0;
}

/* reading */
.reading{
  opacity: 0;
}

/* writing */
.writing{
  opacity: 0;
}

/* speaking */
.speaking{
  opacity: 0;
}
.tests{
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  margin-right: 30px;
}

.reading

.tests li{
  margin-left: -10px;
}

#progress-bar-container {
  width: 90%;
  height: 15px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  padding: 0 1px;
}

/* listening test done progress bar */
#progress_bar_listening, 
#progress_bar_reading,
#progress_bar_writing,
#progress_bar_speaking
{
  height: 90%;
  background-color: #7f7f7f;
  transition: width 0.5s ease; /* Add a smooth transition effect */
  border-radius: 10px;
}

/* test sections hover */
.card:hover{
  border: 2px solid #ffd600;
}

.card button:hover {
  color: #ffd600;
}

/* Registration style */

.registration_area{
  width: 95%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
  background-color: #ffffff;
  border: 2px solid #d0cece;
}


.center{
  margin: 20px;
}

.signInForm{
  width: 443px;
  height: 561px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  border: 1px solid #7f7f7f;
  overflow: hidden;
}
.signInForm span{
  width: 100%;
  height: 73px;
  background-color: #7f7f7f;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  padding-top:  25px;
}

.signIn{
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
}


.signIn input{
  width: 300px;
  height: 50px;
  border: 1px solid #d0cece;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  color: #d0cece;
  outline: none;
}

::placeholder{
  text-align: center;
  font-size: 20px;
}

.signIn button{
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}


.register_links{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
}

.register_links a{
  font-family: sans-serif;
  text-decoration: none;
  font-size: 22px;
  font-weight: 300;
  line-height: normal;
  font-style: normal;
  color: #ffd600;
}

.signIn input:hover{
  border-color: #ffd600;
}

.error_msg{
  color: #de0707;
  font-size: 24px;
  font-weight: 300;
  font-family: sans-serif;
  margin: 0;
}

/* registration form style */

.registerBtn{
  cursor: pointer;
}

.registerForm{
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 30px;
  border: 2px solid #7f7f7f;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.wraper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm input{
  width: 300px;
  height: 50px;
  border: 2px solid #d0cece;
  text-align: center;
  font-size: 20px;
  color: #d0cece;
  outline: none;
  margin-left: 20px;
  margin-top: 10px;
}

.registerTitle{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: #f7f7f7;
  letter-spacing: 1px;
  background-color: #7f7f7f;
  border-radius: 25px 25px 0px 0px;
}

.registerForm label{
  width: 140px;
  height: 34px;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: #7f7f7f;
  color: #d0cece;
  text-align: center;
}

.registerForm button{
  border: none;
  background-color: #ffffff;
}

/* registration Log out form */

.logout_area{
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logout_sign_btn{
  text-decoration: none;
  font-size: 30px;
  font-family: "Cera Pro";
  font-weight: 300;
  color: #ffc000;
  }

.logout_area span{
  font-size: 30px;
  font-family: "Cera Pro";
  font-weight: 300;
  color: #585757;
}

/* Listening test style */

.listening-section{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
}

.section_test_btns{
  width: 95%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listening_test_area{
  width: 95%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 25px auto;
  background-color: #ffffff;
  border: 2px solid #d0cece;
  padding-left: 20px;
}

.listening_time{
  width: 80px;
  height: 35px;
  display: grid;
  place-items: center;
  border: 2px solid #6e6e6e;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #7f7f7f;
  font-family: sans-serif;
  margin-left: 30px;
}

.listening_test_name{
  font-size: 26px;
  font-weight: 600;
  line-height: 2px;
  font-family: sans-serif;
  color: #7f7f7f;
  margin: auto 0;
  letter-spacing: 1px;
}

.test_start{
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
}

/* listening test area btns style */

.test_parts{
  width: 25%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.test_parts li{
  width: 80px;
  height: 40px;
  display: grid;
  place-items: center;
  border: 2px solid #7f7f7f;
  font-size: 16px;
  font-weight: 600;
  color: #7f7f7f;
  letter-spacing: .5px;
}

.test_numbers{
  width: 35%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.test_numbers li{
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border: 2px solid #7f7f7f;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #7f7f7f;
  letter-spacing: .5px;
}

.submit_btn{
  width: 100px;
  height: 40px;
  border: 2px solid #7f7f7f;
  border: 2px solid #7f7f7f;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #7f7f7f;
  letter-spacing: .5px;
  cursor: pointer;
}
.close_toggle{
  display: none;
}

/* guest style */
.main_body{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #fff;
}
.guest_section{
  width: 1853px;
  height: 870px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #d4d4d4;
}

.guest_section span{
  color: #7f7f7f;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
}

.guest_section p{
  width: 1500px;
  color: #d0cece;
  font-size: 26px;
  font-weight: 300;
  line-height: normal;
  font-style: normal;
}

.register_btn{
  width: 346px;
  height: 64px;
  border-radius: 25px;
  color: #fff;
  background-color: #ffd600;
  border: none;
  outline: none;

  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  margin-right: 163px;
}

.login_btn{
  width: 346px;
  height: 64px;
  border-radius: 25px;
  color: #fff;
  background-color: #7f7f7f;
  border: none;
  outline: none;

  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

.register_btn:hover{
  background-color: #fff;
  border: 2px solid #ffd600;
  color: #ffd600;
}

.login_btn:hover{
  background-color: #fff;
  border: 2px solid #7f7f7f;
  color: #7f7f7f;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
