/* GLOBAL */


html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}
.main{
  background-color: #d0cece;
}

/* CONTAINER */
/* .container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
} */


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* animation of hamburger menue */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: #e3e3e3;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* toggler function style for side bar menue */

.close__toggle{
  display: none;
}

#close_toggle{
  display: none;
}

/* Downtown css */

/* Header section  */
.header-main {
  width: 100%;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #d0cece;
}

.side-bar__part {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.side-bar__icon {
 width: 70px;
 height: 70px;
 display: grid;
 place-items: center;
}

.side-bar__name {
  width: 100%;
  max-width: 120px;
  display: flex;
}

.side-bar__name span{
  font-size: 26px;
  font-weight: 600;
  line-height: 2px;
  font-family: sans-serif;
  color: #ffc001;
  margin: auto 0;
  letter-spacing: 1px;
}

.nav-contact__page {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav-contact__page-media i {
  font-size: 18px;
  font-weight: 600;
}

.nav-contact__page-media a{
  text-decoration: none;
  color: #e3e3e3;
  margin-right: 20px;
}

.nav-contact__page-author{
  display: flex;
  align-items: center;
  width: 350px;
  display: flex;
}

.nav-contact__page-author img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.nav-contact__page-author span{
  font-size: 18px;
  font-weight: 200;
  line-height: 1px;
  font-family: sans-serif;
  color: #e3e3e3;
  margin-left: 20px;
}


/* main section this section contains all parts of practice */
.main-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
}
  

.main-sidebar {
  width: 23%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #d0cece;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.sidebar-2{
  
}
.sidebar-2 img{
  width: 50px;
}

.sidebar-2_menu{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-2_menu li{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.registration{
  text-align: center;
}

.registration span{
  font-size: 18px;
  font-weight: 600;
  color: #e3e3e3;
  margin-right: -20px;
  cursor: pointer;
}



.sidebar-2_menu a{
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
  color: #e3e3e3;
}


.main-ielts__section {
  width: 75%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}


.test-area {
  width: 100%;
  max-width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d0cece;
  background-color: #ffffff;
}

.card{
  width: 100%;
  max-width: 900px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #d0cece;
  margin: 10px;
  cursor: pointer;
}
.card span{
  font-size: 30px;
  font-weight: 500;
  color: #7f7f7f;
  font-family: sans-serif;
  margin-left: 20px;
}

.main-sidebar__activities {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

.image_sidebar{
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.image_sidebar span{
  font-size: 18px;
  font-weight: 600;
  color: #d0cece;
}


.main-sidebar__practice {
  width: 100%;
  max-width: 300px;
  /* height: 50vh; */
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.main-sidebar__practice, .main-sidebar__statistic span{
  font-size: 12px;
  color: #d0cece;
}

.main-sidebar__statistic {
  width: 100%;
  max-width: 300px;
  /* height: 50vh; */
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 7px;
}

.main-sidebar a{
  text-decoration: none;
}

.main-sidebar h4{
  font-size: 16px;
  color: #d0cece;
}

.test-area_listening {
}

.test-area_reading {
}

.test-area_writing {
}

.test-area_speaking {
}

.fa-brands.fa-telegram {
}

.main-sidebar_reading {
}


/* Registration style */

.registration_area{
  width: 95%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
  background-color: #ffffff;
  border: 2px solid #d0cece;
}


.center{
  margin: 20px;
}

.signInForm{
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #7f7f7f;
  border-radius: 30px;
}
.signInForm span{
  font-size: 30px;
  font-weight: 600;
  margin: auto 0;
  color: #f7f7f7;
  letter-spacing: 1px;
}

.signIn{
  width: 99%;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  margin: 3px;
  border-radius: 0px 0px 28px 28px;
}

.signIn label{
  width: 140px;
  height: 34px;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: #7f7f7f;
  color: #d0cece;
  text-align: center;
}

.signIn input{
  width: 300px;
  height: 50px;
  border: 2px solid #d0cece;
  text-align: center;
  font-size: 20px;
  color: #d0cece;
  outline: none;
}

::placeholder{
  text-align: center;
  font-size: 20px;
}

.signIn button{
  border: none;
  background-color: #ffffff;
}

.registerBtn{
  cursor: pointer;
}

/* registration form style */


.registerForm{
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 30px;
  border: 2px solid #7f7f7f;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex div{
  text-align: center;
}

.registerForm input{
  width: 300px;
  height: 50px;
  border: 2px solid #d0cece;
  text-align: center;
  font-size: 20px;
  color: #d0cece;
  outline: none;
  margin-left: 20px;
}

.registerTitle{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: #f7f7f7;
  letter-spacing: 1px;
  background-color: #7f7f7f;
  border-radius: 25px 25px 0px 0px;
}

.registerForm label{
  width: 140px;
  height: 34px;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: #7f7f7f;
  color: #d0cece;
  text-align: center;
}

.registerForm button{
  border: none;
  background-color: #ffffff;
}



.close_toggle{
  display: none;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
