<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listening</title>

  <!-- ICON links -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <!-- Header section -->
  <header class="header-main">
    
    <!-- navbar parts -->
    <ul class="side-bar__part">
      <li class="side-bar__name">
        <span>Downtown</span>
      </li>
      <li class="listening_time">
        <span>02.45</span>
      </li>
    </ul>

    <h4 class="listening_test_name">Listening</h4>
    <!-- navbar contact part -->
    <ul class="nav-contact__page">
      <li class="nav-contact__page-media">
        
      </li>

      <li class="nav-contact__page-author">
        <img src="/image/profile.png" alt="author image">
        <span>Sirojiddin Bobokulov</span>
      </li>
    </ul>
  </header>

  <!-- Main section it contains all main parts -->
  <main class="listening-section">
  <!-- Lisening test sections -->
    <div class="listening_test_area">
      <h2 class="listening_part1">Part 1</h2>
      <h2>Questions 1-10</h2>
      <p>Complate the form below. Write <strong>ONE WORD OR A NUMBER</strong> for each answer</p>

      <div class="test_start">
        <h2>TOWN TRANSPORT LOST PROPERTY ENQUIRY</h2>
        <span>Main item lost: suitcase</span>
        <p>Description of main item: blue with thin (1)   <input type="text" maxlength="1024"></p>
        <span>stripes</span>
        <p>Other items: a set of (2)   <input type="text" maxlength="1024">  cards</p>
        <strong>Some documents</strong>
        <span>A (3)  <input type="text" maxlength="1024">  in a box</span>
        <span>A grey (4)  <input type="text" maxlength="1024"></span>
        <span>Name: Nisa (8)  <input type="text" maxlength="1024"> </span>
        <span>Address: 16A (9)  <input type="text" maxlength="1024"> Rd. Highburry</span>
        <span>Phone number: (10)  <input type="text" maxlength="1024"> </span>
      </div>
    </div>

    <div class="section_test_btns">
        <ul class="test_parts">
            <li>Part 1</li>
            <li>Part 2</li>
            <li>Part 3</li>
            <li>Part 4</li>
        </ul>

        <ul class="test_numbers">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
        </ul>

        <button class="submit_btn">Submit</button>
    </div>
  </main>

 <script>

 </script>
</body>
</html>
