<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>

  <!-- ICON links -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <!-- Header section -->
  <header class="header-main">
    
    <!-- navbar parts -->
    <ul class="side-bar__part">
      <li class="side-bar__icon">
        <button class="menu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
          <svg width="50" height="50" viewBox="0 0 100 100">
            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2" d="M 20,50 H 80" />
            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
          </svg>
        </button>
      </li>

      <li class="side-bar__name">
        <span>Downtown</span>
      </li>
    </ul>
    <!-- navbar contact part -->
    <ul class="nav-contact__page">
      <li class="nav-contact__page-media">
        <a href="#"> <img src="./image/telegram.jpg" alt=""></a>
      </li>

      <li class="nav-contact__page-author">
        <img src="/image/profile.png" alt="author image">
        <span>Sirojiddin Bobokulov</span>
      </li>
    </ul>
  </header>

  <!-- Main section it contains all main parts -->
  <main class="main-section">
  <!-- side bar it contains tests  and statistics -->
    <div class="main-sidebar close_toggle" style="height: 85vh;">
      
      <div class="sidebar-2">
        <ul class="sidebar-2_menu ">
          <li>
            <img src="/image/home.jpg" alt="">
            <a href="/index.html">Home</a>
          </li>

          <li>
            <img src="/image/profile_setings.jpg" alt="">
            <a href="#">Profile</a>
          </li>

          <li>
            <img src="/image/statistics.png" alt="">
            <a href="#">Statistics</a>
          </li>

          <li>
            <img src="/image/blog.jpg" alt="">
            <a href="#">Blog</a>
          </li>

          <div class="registration">
            <a class="registerBtn">Register / Sign in</a>
          </div>
        </ul>
      </div>
    </div>
    </div>

   <!--This is ielts section area it contains all ielts sections like listening reading writing and speaking  -->
    <div class="registration_area">
      <form class="signInForm">
         <span>Sign in</span>
          <div class="signIn">
            <label for="user">Username</label>
            <input type="text" placeholder="Enter your Username" required>
            <label for="password">Password</label>
            <input type="password" placeholder="********" required>
            <button onclick="SubmitEvent"> <img src="/image/register.png" width="80" height="80"></button>
          </div>
      </form>

      <form class="registerForm close_toggle">
        <div class="registerTitle">Register</div>
        <div class="flex">
          <div>
          <label for="email">Email</label>
          <input type="email" placeholder="Enter your Username" required>
          </div>

          <div>
          <label for="user">Username</label>
          <input type="text" placeholder="Enter your Username" required>
          </div>
        </div>

        <div class="flex">
          <div>
          <label for="password">Password</label>
          <input type="password" placeholder="********" required>
          </div>

          <div>
          <label for="password">Repeat password</label>
          <input type="password" placeholder="********" required>
          </div>
        </div>
        
        <button onclick="SubmitEvent"> <img src="/image/register.png" width="80" height="80"></button>
      </form>

    </div>

  </main>

  <script>
    
    const registration = document.querySelector(".registration_area");
    const registrationSidebar = document.querySelector(".main-sidebar");
    const menuBtn = document.querySelector(".menu");
    const registerBtn = document.querySelector(".registerBtn");
    const signInForm = document.querySelector(".signInForm");
    const registerForm = document.querySelector(".registerForm")

    function toggleSidebar() {
      registrationSidebar.classList.toggle('close_toggle');
      registration.classList.toggle('center');
    };

    menuBtn.addEventListener('click', toggleSidebar);

    function registerToggel(){
      signInForm.classList.toggle('close_toggle');
      registerForm.classList.toggle('close_toggle');
    }

    registerBtn.addEventListener('click', registerToggel)
  </script>
</body>
</html>
